<div class="flex flex-col justify-center content-center items-center">
  <div class="flex flex-col mb-10">
    <img
      src="assets/images/cro.jpg"
      alt="Foto de perfil"
      class="w-40 h-40 rounded-full object-cover mt-20 mb-5"
    />
    <p class="text-center text-xl font-semibold">Juan Pedraza</p>
    <p class="text-center text-xs text-wewak-500 font-bold">Level 666</p>
  </div>
</div>
<app-insignias />
<p-divider />
<div class="p-5">
  <p class="mb-3">Tareas de hoy</p>
  <app-tasks />
</div>
