<main>
  <p class="text-2xl font-bold mb-4">Continuar aprendiendo...</p>

  <app-card-course-learning class="grid grid-cols-3 gap-4 mb-8" />

  <p class="text-2xl font-bold mb-4">Explorar nuevas categorias</p>

  <app-categories-card class="grid grid-cols-5 gap-4 mb-8" />

  <div class="flex justify-between mb-8">
    <p class="text-2xl font-bold">Reseñas populares</p>
    <p-button
      label="Ver todas"
      [text]="true"
      [raised]="true"
      severity="secondary"
    />
  </div>

  <app-card-review class="grid grid-cols-1 gap-4 mb-8" />
</main>
