<ul
  class="bg-wewak-800 w-full h-full flex flex-col items-center justify-evenly text-wewak-50"
>
  <li class="flex flex-col justify-center items-center w-full cursor-pointer">
    <h1 class="text-xl font-bold">Educraft</h1>
    <img
      class="w-5/6 h-5/6"
      src="assets/images/logo_educraft_sin_fondo.png"
      alt="Logo Educraft"
    />
  </li>
  <li
    class="text-center text-xs uppercase cursor-pointer transition-colors duration-200 hover:text-wewak-400"
  >
    <i class="pi pi-objects-column text-lg block mb-2.5"></i>
    Main
  </li>
  <li
    class="text-center text-xs uppercase cursor-pointer transition-colors duration-200 hover:text-wewak-400"
  >
    <i class="pi pi-book text-lg block mb-2.5"></i>
    Courses
  </li>
  <li
    class="text-center text-xs uppercase cursor-pointer transition-colors duration-200 hover:text-wewak-400"
  >
    <i class="pi pi-list-check text-lg block mb-2.5"></i>
    Tasks
  </li>
  <li
    class="text-center text-xs uppercase cursor-pointer transition-colors duration-200 hover:text-wewak-400"
  >
    <i class="pi pi-chart-line text-lg block mb-2.5"></i>
    Progress
  </li>
  <li
    class="text-center text-xs uppercase cursor-pointer transition-colors duration-200 hover:text-wewak-400"
  >
    <i class="pi pi-user text-lg block mb-2.5"></i>
    Profile
  </li>
</ul>
